<div class="gestion-usuarios mt-5">

    <div class="texto"><h1>Gestión de Usuarios</h1></div>

    <div class="espacioBoton">
        <button class="add-button"  (click)="openRegistrationModal()">
        <mat-icon>add</mat-icon>
        </button>
    </div>
  
    <!-- Contenedor de tarjetas con grid -->
    <div style="display: flex;align-items: center;justify-content: space-between;background: #80808012;margin: 20px;border-radius: 10px;">
        <div style="margin-inline: 40px;">
            <button class="next-button" (click)="previousPage()" [disabled]="currentPage === 0">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>

        <div class="users-grid">
            <div class="card" *ngFor="let user of paginatedUsers">
                <div class="user-icon">
                    <img
                      *ngIf="user.profile_image; else defaultIcon"
                      [src]="user.profile_image"
                      alt="Imagen de {{ user.name }}"
                      class="profile-image"
                    />
                    <ng-template #defaultIcon>
                      <mat-icon>account_circle</mat-icon>
                    </ng-template>
                </div>
                <p class="user-name">{{ user.name || 'Sin Nombre'}}</p>
                <p class="user-nickname">{{ user.username }}</p>
            </div>
        </div>

        <div style="margin-inline: 40px;">
            <button class="next-button" (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= users.length">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
        </div>

    </div>
  
    <!-- Navegación de paginación -->
    <div class="navigation">
      <!-- <span>Página {{ currentPage + 1 }} de {{ Math.ceil(users.length / pageSize) }}</span> -->
    </div>
  </div>
  