body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  /* Estilo para el enlace activo en el sidebar */
.list-group-item.active {
    background-color: transparent; /* Mantener el fondo transparente */
    color: orange; /* Cambiar texto e ícono a naranja */
    font-weight: bold; /* Hacer el texto más prominente */
  }
  
  /* Opcional: hover para los enlaces */
  .list-group-item:hover {
    background-color: rgba(255, 165, 0, 0.1); /* Fondo naranja claro */
    color: orange; /* Resaltar en naranja */
  }
  